{% extends "base.html" %}
{% block content %}

<h2>Public Road & Work Overview</h2>

<h3>Roads</h3>
<table border="1" cellpadding="6">
<tr>
  <th>Road</th>
  <th>Segment</th>
  <th>Condition</th>
  <th>Traffic</th>
</tr>

{% for r in roads %}
<tr>
  <td>{{ r.name }}</td>
  <td>{{ r.segment_name }}</td>
  <td>{{ r.condition }}</td>
  <td>{{ r.traffic_level }}</td>
</tr>
{% endfor %}
</table>

<h3 style="margin-top:20px;">Work Orders</h3>
<table border="1" cellpadding="6">
<tr>
  <th>Title</th>
  <th>Road</th>
  <th>Status</th>
</tr>

{% for w in work_orders %}
<tr>
  <td>{{ w.title }}</td>
  <td>{{ w.road.name if w.road else "" }}</td>
  <td>{{ w.status }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}