{% extends "base.html" %}
{% block content %}

<h2>Road Segments</h2>

{% if is_admin %}
<a href="/roads/new?key=clinton-2026-secure">Add Road</a>
<a href="/export/all.csv?key=clinton-2026-secure">Export</a>

<form action="/import?key=clinton-2026-secure" method="post" enctype="multipart/form-data" style="margin-top:10px;">
  <input type="file" name="file" required>
  <button type="submit">Import</button>
</form>
{% endif %}

<table border="1" cellpadding="6" style="margin-top:15px;">
<tr>
  <th>Road</th>
  <th>Segment</th>
  <th>Surface</th>
  <th>Miles</th>
  <th>Importance</th>
  <th>Condition</th>
  <th>Traffic</th>
  <th></th>
</tr>

{% for r in roads %}
<tr>
  <td>{{ r.name }}</td>
  <td>{{ r.segment_name }}</td>
  <td>{{ r.surface_type }}</td>
  <td>{{ r.length_miles }}</td>
  <td>{{ r.importance }}</td>
  <td>{{ r.condition }}</td>
  <td>{{ r.traffic_level }}</td>

  <td>
    {% if is_admin %}
    <a href="/roads/{{r.id}}/edit?key=clinton-2026-secure">Edit</a>
    {% endif %}
  </td>
</tr>
{% endfor %}

</table>

{% endblock %}